# ----------- dev only ----------
old/
pkg_try/
rangeexp_project/
dev/

# ------------- all -------------
study/data/
data/
scp_from_hpc.ps1

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# VScode
.vscode/