# ----- comment out on dev ------
old/
pkg/
rangeexp_project/
dev/

# ------------- all -------------
study/data/
dev/data/
data/
dev/paperdata/
scp_from_hpc.ps1

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# VScode
.vscode/